.page-header {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 200px;
  width: 100%;
  top: 120px;
  background-color: hsl(226, 43%, 44%);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

header img {
  max-width: 125px;
  height: auto;
  padding: 10px 0;
}

.name {
  color: #FFFFFF;
  font-size: 30px;
  margin: 0 0 20px 0;
}

 /* Desktop styles */
 @media only screen and (min-width: 1024px) {
  .page-header {
    position: relative;
    height: 250px;
    width: 25%;
  }
}