#nav-bar {
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: hsl(226, 43%, 44%);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  padding: 1.5em;
  z-index: 1;
  position: fixed;
  top: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

#tweet-logo {
  font-family: "Bungee", cursive;
}

.new-tweet-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fa-angle-double-down {
  color: red;
}

 /* Desktop styles */
 @media only screen and (min-width: 1024px) {
  #nav-bar {
    background-color: hsl(226, 43%, 44%);
    background-image: none;
  }
}