section .new-tweet {
  width: 100%;
}

.new-tweet #form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  margin-bottom: 35px;
  margin-top: 20px;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Bungee", cursive;
}

button {
  background-color: hsl(226, 43%, 44%);
  color: white;
  border-radius: 3px;
}

#tweet-text {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #545149;
  background-color: #f4f1ec;
  resize: none;
  height: 1.5em;
  font-size: 24px;
}

#tweet-text:focus {
  outline: none;
}


